p, h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #FFFF01;
  border-bottom: solid 2px #000000;

  img {
    height: 150px;
    width: auto;
    margin: 20px;
  }

  ul.navigation {

    display: inline-block;

    li {
      list-style-type: none;
      float: left;

      a {
        margin: 0 20px;
        color: #000000;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        //font-weight: bold;

        &:hover {
          font-weight: bold;
          color: #ff0000;
        }
      }
    }
  }
}

// Homepage

div.topSection {

  padding: 30px 0;
  //background:url(img/taxi.jpg) top center no-repeat;
  background-color: #ff0000;
  border-bottom: solid 2px #000000;

  p.quote{
    color: #ffffff;
    font-size: 30px;
    //font-style: italic;
    font-weight: bold;
  }
}

div.homeAbout {
  padding: 30px 0;
  background-color: #ffffff;
  border-bottom: solid 2px #000000;
}

div.homeWhy {
  padding: 30px 0;
  background-color: #FFFF01;
  border-bottom: solid 2px #000000;
}

div.homeInvolved {

}