.header {
  background-color: #FFFF01;
  border-bottom: solid 5px #000000;

  img {
    height: 150px;
    width: auto;
    margin: 20px;
  }

  ul.navigation {

    display: inline-block;

    li {
      list-style-type: none;
      float: left;

      a {
        margin: 0 20px;
        color: #000000;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        //font-weight: bold;

        &:hover {
          font-weight: bold;
          color: #ff0000;
        }
      }
    }
  }
}

// Homepage

div.topSection {

  //background:url(img/taxi.jpg) top center no-repeat;
  background-color: #ff0000;
  color: #ffffff;
  height: 400px;
}

div.homeAbout {

}

div.homeWhy {

}

div.homeInvolved {

}